<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
</head>
<body>
<form method="POST" class="post-form" action="/emp">
    {%csrf_token%}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-1">
                <h3>Enter Details</h3>
            </div>
        </div>
    </div>
    <div class="form-group row">
            <label class="col-sm-1 col-form-label">Employee Id</label>
            <div class="col-sm-2">
               {{form.eid}}
            </div>
        </div>
    <div class="form-group row">
            <label class="col-sm-1 col-form-label">Employee Name</label>
            <div class="col-sm-2">
               {{form.ename}}
            </div>
        </div>
    <div class="form-group row">
            <label class="col-sm-1 col-form-label">Employee Email</label>
        <br>
            <div class="col-sm-2">
               {{form.eemail}}
            </div>
        </div>
    <div class="form-group row">
            <label class="col-sm-1 col-form-label">Employee Contact</label>
            <div class="col-sm-2">
               {{form.econtact}}
            </div>
        </div>
    <br>
    <div class="form-group row">

            <div class="col-sm-2">
             <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

</form>

    <form action="/create">


                {%  csrf_token %}
            <label class="form-group" for="title">Title: </label>
            <input class="form-control" type="text" name="title"><br>

            <label class="form-group" for="price">Price: </label>
            <input class="form-control" type="text" name="price"><br>

            <label class="form-group" for="author">Author: </label>
            <input class="form-control" type="text" name="author"><br>

            <input class="btn btn-success" type="submit" value="Create">


        </form>




</body>

</html>